@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

html {
  background-color: #2e2e38;
  color: white;
}

body {
  margin: 0;
  font-family: "Inconsolata", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
